# Exclude all PNG files
*.png

# Exclude all TXT files
*.txt
rss
# But keep requirements.txt
!requirements.txt
!command.txt
*.jpg
*.jpeg
*.gif
*.pdf
*.log
*.db
bypass-paywalls-chrome-clean-master/
# Python virtual environment
venv/
env/
.venv/
fonts/
excel/
chromedriver-win64/
chrome-win64/
logs/
images/
agentStockAnalysis/
# Ignore any file or directory starting with 'chrome'
chrome*
snapshoots/
*.pem
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.idea