# Exclude all PNG files
*.png

# Exclude all TXT files
*.txt
# But keep requirements.txt
!requirements.txt
!command.txt

*.jpg
*.jpeg
*.gif
*.pdf
*.log
*.db

# Python virtual environment
venv/
env/
.venv/
fonts/
excel/
chromedriver-win64/
chrome-win64/
logs/
images/
agentStockAnalysis/
# Ignore any file or directory starting with 'chrome'
chrome*
snapshoots/
