
undetected-chromedriver
selenium
beautifulsoup4
selenium-stealth
requests
googletrans
urllib3
fastapi
redis
uvicorn
asyncio
matplotlib
numpy
pandas
python-docx
loguru
openpyxl
sqlalchemy
mysql-connector-python
playwright
setuptools
opencv-python
dramatiq
filelock
python-multipart