
undetected-chromedriver
selenium
beautifulsoup4
selenium-stealth
requests
googletrans
urllib3
fastapi
redis
uvicorn
asyncio
numpy
pandas
sqlalchemy
playwright
setuptools
opencv-python
dramatiq
filelock
python-multipart
fastmcp
concurrent-log-handler
aiohttp
pillow
openpyxl
aiofiles
pandas_market_calendars
pymysql==1.1.2