undetected-chromedriver~=3.5.5
asyncio~=4.0.0
redis~=7.1.0
dramatiq~=2.0.1
DateTime~=6.0
playwright~=1.54.0
pandas~=3.0.0
fastapi~=0.128.0
concurrent-log-handler~=0.9.28
requests~=2.32.5
openai~=2.32.0
deep-translator~=1.11.4
SQLAlchemy~=2.0.46
fastmcp~=2.14.4
pydantic~=2.12.5
APScheduler~=3.11.2
beautifulsoup4~=4.14.3
selenium~=4.40.0
aiohttp~=3.13.3
pandas_market_calendars~=5.3.0
opencv-python~=4.13.0.90
numpy~=2.4.4
pillow~=12.1.1
phoenixc~=1.1.2.2
PyAutoGUI~=0.9.54
uvicorn~=0.40.0
PyMySQL~=1.1.2
aiofiles~=25.1.0
httpx~=0.28.1
PyJWT~=2.11.0
wechat-work-webhook~=0.0.2
jwcrypto~=1.5.6